@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'canelathin';
  src: url('/assets/fonts/canela-thin-webfont.woff2') format('woff2'),
       url('/assets/fonts/canela-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'canelathin';
  src: url('/assets/fonts/canela-thinitalic-webfont.woff2') format('woff2'),
       url('/assets/fonts/canela-thinitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;

}

html {
  scroll-behavior: smooth;
}  

/* ------------ Typography styles ------------ */

h1, h2, h3  { @apply font-display font-light text-[3.5rem] leading-[4.5rem] tracking-[.02em]; }

p           { @apply leading-8 text-[0.9rem] tracking-[0.03em]; }

/* ------------ Button styles ------------ */

.button { 
    @apply py-3 px-6 text-xs font-semibold uppercase tracking-[.2em] no-underline rounded-full text-black border-black border hover:bg-sage-500/20 transition; 
  }