<!------------------ Site-Header ------------------>

<header id="top" class="relative {{page.header-bg}} z-20">
  <!------------------ Nav bar ------------------>
  <div class="flex flex-row items-center justify-between min-h-[20vh] px-10"> 
    <a href="/index.html"><img class="h-20" src="/assets/logos/ofelsewhere_picture_mark.svg"></a>
    <div class="hidden lg:block">
      <nav class="flex space-x-12 items-center">
        <a href="/services.html" class="border-b border-b-sage-200/0 hover:border-b-black pb-2">Services</a>
        <a href="/portfolio.html" class="border-b border-b-sage-200/0 hover:border-b-black pb-2">Portfolio</a>
        <a href="/blog.html" class="border-b border-b-sage-200/0 hover:border-b-black pb-2">Travel</a>
        <a href="/about.html" class="border-b border-b-sage-200/0 hover:border-b-black pb-2">About</a>
        <a href="/contact.html" class="button mb-2">Let's connect</a>
      </nav>
    </div>
    <div class="z-[55] relative lg:hidden pointer-events-auto">
      <a href="#" class="burger {% if page.dark-mode == true %} stroke-white {% elsif page.dark-mode != true %} stroke-black {% endif %}">
  
          <svg class="" xmlns="http://www.w3.org/2000/svg" width="40" height="20" viewBox="0 0 71 46.663">
            <g id="Gruppe_20" data-name="Gruppe 20" transform="translate(-1761.5 -93)">
              <line id="Linie_1" data-name="Linie 1" x2="71" transform="translate(1761.5 94.5)" stroke-width="3"/>
              <line id="Linie_2" data-name="Linie 2" x2="71" transform="translate(1761.5 116.331)" stroke-width="3"/>
              <line id="Linie_3" data-name="Linie 3" x2="71" transform="translate(1761.5 138.163)" stroke-width="3"/>
            </g>
          </svg>
        
      </a>
    </div>

  <!------------------ Mobile menu ------------------>
  <div class="lg:hidden bg-sage-500 fixed inset-0 h-full w-full z-50 transition-all duration-500 mobile-menu mobile-menu-hidden text-beige">
    <div class="h-screen">
      <div class="flex flex-col text-white items-center justify-center pt-48">
        <a href="/services.html" class="font-display font-light text-[4rem] tracking-[.02em]">Services</a>
        <a href="/portfolio.html" class="font-display font-light text-[4rem] tracking-[.02em]"><em>Portfolio</em></a>
        <a href="/blog.html" class="font-display font-light text-[4rem] tracking-[.02em]">Travel</a>
        <a href="/about.html" class="font-display font-light text-[4rem] tracking-[.02em]"><em>About</em></a>
        <div class="pt-10"><a href="/contact.html" class="button-white">Let's connect</a></div>
      </div>      
    </div>
  </div>

</header>

<!------------------ Header ------------------>

<!-- <header class="bg-sage-200">
  <div class="flex justify-between min-h-[20vh] px-10 items-center z-10">
    <a href="/index.html"><img class="h-20" src="/assets/logos/atlasofelsewhere_logo.svg"></a>
    <nav class="flex space-x-12 items-center">
      <a href="/services.html" class="hover:border-b pb-2">Services</a>
      <a href="/portfolio.html" class="hover:border-b pb-2">Portfolio</a>
      <a href="/blog.html" class="hover:border-b pb-2">Travel</a>
      <a href="/about.html" class="hover:border-b pb-2">About</a>
      <a href="/contact.html" class="button mb-2">Let's connect</a>
    </nav>
  </div>
</header> -->