<!------------------ Header ------------------>

<footer class="py-10 bg-sage-600">
<div class="flex flex-col md:flex-row justify-between items-center px-10 md:px-20">

  <!------------------ Search ------------------>
  <div class="md:px-0 w-full md:w-[30vw] items-center flex justify-center h-full">

    <!-- HTML elements for search -->
      <div class="flex flex-row w-full justify-items-stretch border-b border-white items-center mb-10 md:mb-0">
        <input class=" bg-sage-600 font-light uppercase tracking-[.3em] text-[0.7rem] placeholder-white focus:outline-none text-white py-3 w-full" type="text" id="searchBox" placeholder="Search">
        <a class="searchButton" href="/search.html">
          <?xml version="1.0" encoding="UTF-8"?><svg width="16px" height="16px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M17 17l4 4M3 11a8 8 0 1016 0 8 8 0 00-16 0z" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
        </a>
      </div>

  </div>

  <!------------------ Social ------------------>
  <div class="mb-10 md:mb-0">
    <div class="flex flex-row space-x-10 justify-center text-white">

      <a href="https://instagram.com/atlasofelsewhere" target="_blank" >
        <i class="fab fa-instagram hover:opacity-60"></i>
      </a>
      <a href="https://pinterest.com/ofelsewhere" target="_blank">
        <i class="fab fa-pinterest-p hover:opacity-60"></i>
      </a>
      <a href="https://www.linkedin.com/in/tara-hunka-74a4a21a5" target="_blank">
        <i class="fab fa-linkedin hover:opacity-60"></i>
      </a>

    </div>
  </div>

  <!------------------ Imprint ------------------>
  <div class="text-white text-[0.6rem] uppercase tracking-[.3em]">
    <a href="/privacy-policy.html" class="hover:opacity-60">Privacy</a>
    <a href="/site-notice.html" class="ml-4 hover:opacity-60">Impressum</a>
  </div>
</div>

</footer>

<section class="bg-black/90">
  <div class="px-10 md:px-20 flex flex-col md:flex-row md:justify-between text-white text-[0.6rem] tracking-[.1em] font-light py-8">
    <div class="md:order-2">
      <a href="#">Back to the top<i class="pl-3 fa fa-arrow-up mb-2 md:mb-0"></i></a> 
    </div>
    <div class="">
      Copyrights ©Tara Hunka 2022 | All rights Reserved 
    </div>
  </div>
</section>