<section class="container mt-20" id="">

  {% if block.headline != null and block.headline != "" %}
  <h2 class="lg:text-center pb-10 px-10 md:px-0">{{block.headline}}</h2>
  {% endif %}

  {% if block.content-type == 'recommendation' %}

  <!------------ Recommendation ------------>
  <div class="grid grid-cols-6 gap-5 md:gap-10 lg:gap-20 px-10 md:px-0">

    {% for item in block.recommended %}
    <div class="col-span-6 md:col-span-3 lg:col-span-2">
      <a href="{{item.url}}" target="_blank" class="underline font-medium">{{item.title}}</a>
      <p>{{item.description}}</p>
    </div>
    {% endfor %}

  </div>

  {% elsif block.content-type == 'text' %}

  <div class="flex-col justify-center text-center">
    <p class="mx-auto px-10 lg:w-[80%] pb-0">{{block.description}}</p>
  </div>

  {% endif %}
  
  <!------------------ Gallery ------------------>

  <div class="grid grid-cols-4 gap-5 lg:gap-10 pt-20 lg:px-28">

    {% for item in block.gallery %}
    <div class="{{item.gallery-size}}">
      <img src="{{item.image}}">
    </div>
    {% endfor %}

  </div>
</section>