<!------------------------------ Blog content ------------------------------>

<section class="container py-20" id="{{block.anchor}}">
  <div class="flex-col justify-center text-center">
    <h2 class="text-[5rem] leading-[5.5rem]">{{block.headline-html}}</h2>
    <p class="mx-auto pt-10 pb-16 px-10 md:w-[60%]">{{block.description-html}}</p>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-5 lg:px-28">
    <div><img src="{{block.left-image}}" class="inline-block object-cover"></div>
    <div><img src="{{block.right-image}}" class="inline-block object-cover"></div>
    </div>
</section>

</section>