
<!------------------------------ Grid ------------------------------>

<section class="container my-20">
  <div class="grid grid-cols-1 lg:grid-cols-5 gap-x-36">
    <div class="col-span-1 lg:col-span-2 {% if block.position == 'right' %} lg:order-2 {% endif %}">
      
      <!------------------ Where to eat ------------------>

      <h2 class="pb-5 editable">Headline</h2>

      {% for item in block.eat %}

      <div class="pb-10">
        <a href="{{item.url}}" class="underline font-medium">{{item.name}}</a>
        <p>{{item.description-html}}</p>
      </div>

      {% endfor %}


      <div class="grid grid-cols-1 md:grid-cols-2 gap-5 lg:hidden mb-10">
        {% for item in block.eat %}
        <div><img src="{{item.image}}"></div>
        {% endfor %}
      </div>

      <hr>
      
      <!------------------ Where to stay ------------------>

      <h2 class="pt-10 pb-5 editable">Headline</h2>

      {% for item in block.stay %}

      <div class="pb-10">
        <a href="{{item.url}}" class="underline font-medium">{{item.name}}</a>
        <p>{{item.description-html}}</p>
      </div>

      {% endfor %}

      {% for item in block.stay %}

      <div class="block lg:hidden mb-10">
        <img src="{{item.image}}">
      </div>

      {% endfor %}
      
      <hr>

      <!------------------ What to see ------------------>

      <h2 class="pt-10 pb-5 editable">Headline</h2>

      {% for item in block.see %}

      <div class="pb-10">
        <a href="{{item.url}}" class="underline font-medium">{{item.name}}</a>
        <p>{{item.description-html}}</p>
      </div>

      {% endfor %}

      {% for item in block.see %}

      <div class="block lg:hidden mb-10">
        <img src="{{item.image}}">
      </div>

      {% endfor %}

    </div>

    <div class="hidden lg:block lg:col-span-3">
      
<!------------------ Gallery ------------------>
<div class="hidden lg:grid col-span-1 lg:col-span-3">
      
  {% for item in block.gallery %}

  <!------------------ Text ------------------>
  {% if item._type == 'three-images' %}

  {% include blocks/three-images.html %}

  <!------------------ Image ------------------>
  {% elsif item._type == 'two-images-small' %}
  
  {% include blocks/two-images-small.html %}

  <!------------------ Image ------------------>
  {% elsif item._type == 'two-images-portrait' %}

  {% include blocks/two-images-portrait.html %}

  <!------------------ Image ------------------>
  {% elsif item._type == 'one-image-landscape' %}

  {% include blocks/one-image-landscape.html %}

  <!------------------ Image ------------------>
  {% elsif item._type == 'one-image-portrait' %}

  {% include blocks/one-image-portrait.html %}
  
  {% endif %}
  
  {% endfor %}
    
</div>
        
    </div>
  </section>