        <!-------- Three images -------->
        <div class="grid grid-cols-12 grid-rows-5 gap-10 pb-10">

          <div class="col-start-1 col-end-8 row-start-1 row-end-3">
            <img src="{{item.first-image}}">
            <p class="pt-2 text-xs">{{item.first-caption-html}}</p>
          </div>
          <div class="col-start-8 col-end-13 row-start-2 row-end-5">
            <img src="{{item.second-image}}">
            <p class="pt-2 text-xs">{{item.second-caption-html}}</p>
          </div>
          <div class="col-start-3 col-end-8 row-start-3 row-end-6">
            <img src="{{item.third-image}}">
            <p class="pt-2 text-xs">{{item.third-caption-html}}</p>
          </div>
        
        </div>