---
layout: default
---

<!------------------------------ Title section ------------------------------>

<section class="bg-sage-200 py-20">
  <div class="container text-center">
    <span class="tinytitle block">{{page.date | date: "%d %b %Y"}}</span>

    <h1 class="text-[5rem] leading-[5.5rem] my-10">{{page.title}}</h1>

    {% for item in page.categories %}
    <a href="/archives/{{item}}" class="mx-1 inline-block border-b pb-1 tinytitle">{{item}}</a>
    {% endfor %}
  </div>
</section>

<!------------------ Image banner ------------------>

<section class="bg-sage-200"> 
  <img src="{{page.featured-image-landscape}}" class="container max-h-[50vh] w-full object-cover">
  </div>
</section>

{{content}}

<!------------------ Blocks ------------------>

{% for block in page.page_blocks %}
  {% include /blocks/{{block._id}}.html %}
{% endfor %}


<!------------------ Social sharing ------------------>

<section class="bg-sage-200 py-20">
  <div class="container">
    <div class="md:col-span-2 text-center">
      <h3 class="mx-10 md:mx-0">Share on socials:</h3>
      <div class="flex space-x-8 justify-center py-6">
        <a href="http://pinterest.com/pin/create/link/?url={{page.url}}&description={{page.title}}" rel="nofollow" target="_blank" title="Share on Pinterest">
          <i class="fab fa-pinterest-p border rounded-full p-2 w-10 h-10 flex justify-center items-center hover:bg-sage-300/40"></i>
        </a>
        <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">
          <i class="fab fa-facebook-f border rounded-full p-2 w-10 h-10 flex justify-center items-center hover:bg-sage-300/40"></i>
        </a>
        <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">
          <i class="fab fa-twitter border rounded-full p-2 w-10 h-10 flex justify-center items-center hover:bg-sage-300/40"></i>
        </a>
        <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">
          <i class="fa-regular fa-envelope border rounded-full p-2 w-10 h-10 flex justify-center items-center hover:bg-sage-300/40"></i>
        </a>
      </div>
    </div>

    <div class="lg:mx-40 grid grid-cols-1 md:grid-cols-2 gap-5 pt-10">
      <div class="">
        <img src="/assets/images/posts/italy/elsewhere-travel-pinterest-1.jpg">
      </div>
      <div class="">
        <img src="/assets/images/posts/italy/elsewhere-travel-pinterest-2.jpg">
      </div>
    </div>
    
  </div>
</section>

<hr>
<!------------------ Related posts ------------------>

<section class="bg-sage-200 py-16">
  <div class="container text-center">
    <h3 class="pb-10 text-3xl"> You may <em>also enjoy:</em></h3>
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-10 mb-10">

      {% assign pageCategory = page.categories[0] %}
      {% assign relevant = site.categories[pageCategory] | where_exp:"post","post.url != page.url" %}
        {% for post in relevant limit:3 %}

          <a href="{{post.url}}" class="bg-sage-200 hover:bg-sage-300/30 border text-center pb-20">
  
            <img class="h-[60vh] w-full object-cover mb-16" src="{{post.featured-image}}">
          
            <span class="block">
              {% for item in post.categories %}
                <div class="mx-1 inline-block border-b pb-1 tinytitle">{{item}}</div>
              {% endfor %}
            </span>
          
            <h2 class="text-center inline-block tracking-[.03em] my-8">{{post.title}}</h2>
            
            <span class="tinytitle block"><strong>{{post.date | date: "%d %b %Y"}}</strong></span>
          
          </a>
            
        {% endfor %}
        
    </div>
  </div>
</section>